@font-face {
    font-family: "Anton";
    font-style: normal;
    src: url("../Utility/Fonts/Anton/Anton-Regular.ttf");
}

@font-face {
    font-family: "Pacifico";
    font-style: normal;
    src: url("../Utility/Fonts/Pacifico/Pacifico-Regular.ttf");
}

body{
    background-image: url("https://images.hdqwalls.com/wallpapers/sagiri-izumi-anime-1g.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: crimson;
}

.login{
    width: 35%;
    height: 500px;
    background-color: #ff2696 transparent;
    margin-top: 100px;
    margin-left: 33%;
    border-radius: 20px;
    padding: 2px 0px 2px;

    -webkit-box-shadow: 0px 0px 15px 8px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 0px 15px 8px rgba(0,0,0,0.49);
    box-shadow: 0px 0px 15px 8px rgba(0,0,0,0.49);
    
}


#caption_left{
    font-family: "Anton";
    color: white;
}

#caption_right{
    font-family: "Pacifico";
    color: white;
}


.caption{
    display: flex;
    align-items: center;
    margin-left: 6%;
    

}

 .caption h1{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#ffff ;
}

.caption h2{
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffff;


}

.caption span{
    color: #fc77cb;
}
